/*
font 			font-family: 'Source Sans Pro', sans-serif;
*/

body{
	position:absolute;
	height: 100%;
	width:100%;
	font-family: 'Source Sans Pro', sans-serif;
}

.header{
	height:13%;
	width:100%;
	margin-top:-1.5%;
	position:fixed;
	background-color: white;
	z-index:2;
}

.fa-lg{
	display:inline-block;
	position:relative;
	margin-left:4%;
	padding-top: 1.5%;
}

#circle{
	color:#CA0000;
}

.search{
	height:50%;
	width:70%;
	background-color: #EFEFEF;
	display:inline-block;
	margin-left:1.6%;
	margin-top:1.8%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

.fa-search{
	position:relative;
	top:25%;
	left:5%;
}

input{
	height: 70%;
	width:60%;
	background-color: #EFEFEF;
	border:none;
	position:relative;
	top:20%;
	left:5%;
	font-size:105%;
}

.search p{
	float:right;
	width:13%;
	margin-right:;
	margin-top:1%;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

.icons{
	display:inline-block;
	float:right;
	margin-right: 10%;
	margin-top: 2.5%;
	color:#D2D2D2;
	font-size: 21px;
}

hr{
	position:relative;
	top:5%;
	border-top: 1px solid #D2D2D2;
	background-color: white;
}

.fa-bars{
	margin:0% 30px;
}

.fa-times{
	margin-right:5%;
}

.fa-chevron-down{
	margin-left:5%;
}



/* BOXES DE BUSQUEDA*/

.boxes{
	position:fixed;
	top:11%;
	height:11%;
	width:100%;
	background-color: white;
	z-index:2;

}
.boxes ul{
	padding:0;
	margin-top:0;
	margin-left:8%;	
	list-style-type: none;
	width:100%;
}

.boxes ul li{
	float:left;
	height: 60%;
	padding:1.5% 2% 0 2%;
	margin: 0.5% 0.5% 0 0.5%;	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: center;	
}

.box1{
	background-color: #FE9A2E;	
}

.box2{
	background-color: #FFFF00;	
}

.box3{
	background-color: #D0FA58;	
}

.box4{
	background-color: #81F79F;	
}

.box5{
	background-color: #81F7F3;	
}

.box6{
	background-color: #58D3F7;	
}

.box7{
	background-color: #8181F7;	
}

.box8{
	background-color: #BE81F7;	
}

.box9{
	background-color: #FA58F4;	
}



/* IMAGENES*/

.imagenes{
	position:relative;
	margin-top:12%;
	margin-left:4%;
	z-index:1;
}

.imagenes ul{
	padding:0;
	margin-top:0;	
	list-style-type: none;
	width:100%;
}

.imagenes ul li{
	width:22%;
	float: left;
	display:inline-block;
	list-style-type: none;	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	background-color: white;
	text-align: left;	
	margin:0 1% 1% 1%;
}

.imagenes ul li .img1{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img2{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img3{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img4{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img5{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img6{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img7{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img8{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}

.imagenes ul li .img9{
	width:100%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: left;	
}



