/*
font 			font-family: 'Source Sans Pro', sans-serif;
*/

body{
	position:absolute;
	height: 100%;
	width:100%;
	font-family: 'Source Sans Pro', sans-serif;
}


/*INICIO ENCABEZADO*/

.header{
	height:13%;
	width:100%;
	margin-top:-1.5%;
	position:fixed;
	background-color: white;
	z-index:2;
}

.fa-lg{
	display:inline-block;
	position:relative;
	margin-left:4%;
	padding-top: 1.5%;
}

#circle{
	color:#CA0000;
}

/* Fondo de la barra de búsqueda */

.search{
	height:50%;
	width:70%;
	background-color: #EFEFEF;
	display:inline-block;
	margin-left:1.6%;
	margin-top:1.8%;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

.fa-search{
	position:relative;
	top:25%;
	left:5%;
}


/* Barra de búsqueda */
input{
	height: 70%;
	width:60%;
	background-color: #EFEFEF;
	border:none;
	position:relative;
	top:20%;
	left:5%;
	font-size:105%;
}

.search p{
	float:right;
	width:13%;
	margin-right:;
	margin-top:1%;
	font-weight: bold;
	font-family: 'Source Sans Pro', sans-serif;
}

.icons{
	display:inline-block;
	float:right;
	margin-right: 10%;
	margin-top: 2.5%;
	color:#D2D2D2;
	font-size: 21px;
}

hr{
	position:relative;
	top:5%;
	border-top: 1px solid #D2D2D2;
	background-color: white;
}


/* Iconos de la derecha */
.fa-bars{
	margin:0% 30px;
}

.fa-times{
	margin-right:5%;
}

.fa-chevron-down{
	margin-left:5%;
}

/* FIN HEADER */


/* BOXES DE BUSQUEDA
Con posición fija */

.boxes{
	position:fixed;
	top:11%;
	height:11%;
	width:100%;
	background-color: white;
	z-index:2;

}

.boxes ul{
	padding:0;
	margin-top:0;
	margin-left:8%;	
	list-style-type: none;
	width:100%;
}

.boxes ul li{
	float:left;
	height: 60%;
	padding:1.5% 2% 0 2%;
	margin: 0.5% 0.5% 0 0.5%;	
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
	text-align: center;	
}

/* Colores para cada caja */
.box1{
	background-color: #FE9A2E;	
}

.box2{
	background-color: #FFFF00;	
}

.box3{
	background-color: #D0FA58;	
}

.box4{
	background-color: #81F79F;	
}

.box5{
	background-color: #81F7F3;	
}

.box6{
	background-color: #58D3F7;	
}

.box7{
	background-color: #8181F7;	
}

.box8{
	background-color: #BE81F7;	
}

.box9{
	background-color: #FA58F4;	
}

/* FIN BOXES */



/* IMAGENES*/

.imagenes{
/*	position:relative;*/
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;  /*Atributo para crear columnas */
	width:96%;
	margin-top:12%;
	margin-left:1%;
	z-index:1;

}

/* Caja contenedora de cada entrada */
.imagenes .boximg{
	width:96%;
	list-style-type: none;	
	border-radius: 15px 15px 15px 15px; /* Redondeado de esquinas */
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;
	background-color: white;
	padding:0 1% 1% 1%;
	margin-bottom:4%;
	display: inline-block;
	white-space: nowrap; 	/*Atributo para que no se divida la caja al reubicarse en las columnas*/
}

.imagenes .boximg .img{
	width:98%;
	padding-left: 1%;
	display:block;	
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;
}

/* Cantidad de vistos y pins */
.numbers{
	text-align: right;
	color:grey;
	margin-top:0;
	padding-top:0;
	font-size: 80%;
}

/* Círculo que contiene una letra */
.circle{	
     width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #DD8E9E;
}

.circle p{
	color:white;
	padding: 45% 0 0 33%;
	font-weight: bold;
}

/* Disminuir el interlineado */
.boximg table tr:nth-last-child(-n+1){
	line-height: 10%;
}


/* FIN IMAGENES */